<%- include('head.ejs') %>

  <header>
    <a href="index.html">back</a>
    <h1>GitLove</h1>
  </header>
  <main>
    <a href="aanmelden2.html">GitHub</a>
    <a href="">Facebook</a>
    <a href="">E-mail</a>
  </main>

  <%- include('tail.ejs') %>
