<%- include('head.ejs') %>

  <header>
    <h1>GitLove</h1>
    <a href="/index.ejs">logout</a>
  </header>
  <main>
    <section>
      <article>
        <img src="" alt="">
        <h4>Name</h4>
        <p>Description</p>
      </article>
    </section>
  </main>

<%- include('tail.ejs') %>
