<%- include('head.ejs') %>

  <header>
    <h1>Gitlove</h1>
  </header>
  <main>
    <section>
      <article>
        <h3>Ken je deze programmeertaal?</h3>
        <h1>Javascript</h1>
        <a href="">ja</a>
        <a href="">nee</a>
      </article>
    </section>
  </main>

<%- include('tail.ejs') %>
